.ContentPageTitle {
  font-size: 36px;
  color: #333333;
  margin-block-start: 25px;
  margin-block-end: 10px;
}
.ContentPageSubtitle {
  font-size: 28px;
  color: #333333;
  margin-block-start: 25px;
  margin-block-end: 10px;
}

.ContentPageSection {
  font-size: 24px;
  color: #333333;
  margin-block-start: 25px;
  margin-block-end: 10px;
}
.ContentPageParagraph {
  font-size: 14px;
  color: #333333;
  margin-block: 10px;
}

/* Footer */
.Footer {
  height: 180px;
  background-color: #282c34;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 20px;
  padding-inline: 260px;
}

.FooterText {
  margin-block: 12px;
  line-height: 20px;
}
